# Copiar a secrets.yaml y completar. NO subir secrets.yaml a git.
wifi_ssid: "MiWiFi"
wifi_password: "clave-del-wifi"
ap_password: "clave-fallback-segura"
ota_password: "clave-ota-segura"
mqtt_broker: "192.168.1.10"   # IP del servidor donde corre Mosquitto/n8n
mqtt_username: "alarma"
mqtt_password: "UNA_CLAVE_SEGURA"
